li{
    list-style: none;
}
.nav-center,.Progress,main{
    width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
}
.navbar{
    background-color: white;
}
.navbar-nav{
    position: relative;
    top:13px;
}
.nav-right{
    float:right
}


.navbar-header img{
    float: left;
}
.font-My-home{
    position: relative;
    top:12px;
    margin-left: 10px;
    letter-spacing: 5px;
    font-weight: 500;
    float: left;
    font-size: 24px;
    line-height: 73px;
    text-align: center;
    color: rgb(16,45,105);
}